fastapi
uvicorn
# Haystack 2.0 and components
haystack-ai
weaviate-haystack
sentence-transformers
# Utils
gitpython
pydantic-settings
pyyaml
python-multipart
# Testing
pytest
httpx
# Tracing
arize-phoenix
openinference-instrumentation-haystack
ollama-haystack
google-ai-haystack
accelerate

# Tree-sitter
tree-sitter
# tree-sitter-languages-pack instead of installing individual languages
tree-sitter-language-pack
-e .
